name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'  # package.json á»Ÿ root

      - name: Install dependencies
        run: npm ci

      - name: Run linter (optional)
        run: npm run lint || echo "No lint script found"
        continue-on-error: true

      - name: Run tests
        run: npm test || echo "No tests found"

      - name: Build Docker image
        run: docker build -t goldenowl-app:${{ github.sha }} .

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag and Push Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          docker tag goldenowl-app:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:${{ github.sha }}
          docker tag goldenowl-app:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:latest

  deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ${{ secrets.AWS_EC2_USERNAME }}
          key: ${{ secrets.AWS_EC2_SSH_KEY }}
          script: |
            

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:latest

            docker stop goldenowl-app || true
            docker rm goldenowl-app || true

            docker run -d \
              --name goldenowl-app \
              -p 3000:3000 \
              --restart unless-stopped \
              -e NODE_ENV=production \
              ${{ secrets.DOCKERHUB_USERNAME }}/goldenowl-app:latest

            docker image prune -af || true
